html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.main-content {
  flex: 1;
}

/* Navigation */
nav .container {
  margin: 0;
  padding: 0;
}

nav .container img {
  margin: 0 20px 0 50px;
}

.navbar {
  background-color: #4b0082;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #f5f5f5 !important;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  margin-left: 1rem;
  color: #f3f3f3;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  background-color: #fcfcfc;
  color: #4b0082;
  border-radius: 5px;
}

.navbar-nav .nav-link.active {
  background-color: #fcfcfc;
  color: #4b0082 !important;
  border-radius: 5px;
}

.navbar-toggler {
  border-color: #f4fbf0;
}

.navbar-toggler-icon {
  background-color: #f4fbf0;
}

/* Index Page */

.hero-section {
  background-image: url('../images/serene-landscape.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-background-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  position: absolute;
}

.overlay-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
}

.video-background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.hero-title {
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ddd;
}

.hero-text {
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section .section-title,
.connect-section .section-title,
.offerings-section .section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4b0082;
}

.connect-section {
  background-color: #f5ecee;
}

.connect-section .btn {
  margin-top: 10px;
}

.card-body {
  height: 300px;
}

.offering-card {
  background-size: cover;
  background-position: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  padding: 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offering-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.col-lg-4:nth-child(1) .offering-card {
  background-color: #6a1b9a; /* Deep purple */
}

.col-lg-4:nth-child(2) .offering-card {
  background-color: #0288d1; /* Light blue */
}

.col-lg-4:nth-child(3) .offering-card {
  background-color: #43a047; /* Green */
}

.col-lg-4:nth-child(4) .offering-card {
  background-color: #ff7043;
}

.col-lg-4:nth-child(5) .offering-card {
  background-color: #d12b02;
}

.col-lg-4:nth-child(6) .offering-card {
  background-color: #00897b;
}

.offering-card .card-title {
  font-size: 1.5rem;
  color: #f0f0f0;
}

.offering-card .card-text {
  font-size: 1rem;
  padding: 10px;
  color: #f0f0f0;
}

.icon {
  font-size: 3rem;
  color: #ffd700; /* Gold color */
  margin-bottom: 20px;
  animation: fadeIn 2s ease-out; /* Fade-in animation for icons */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.offerings-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://cdn.jsdelivr.net/gh/kiritocode/particles@master/particles.gif')
    no-repeat center center/cover;
  opacity: 0.1; /* Subtle background */
  z-index: -1;
}

/* Our Beliefs */

.beliefs-hero {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.8),
      rgba(197, 239, 247, 0.8)
    ),
    url('../images/beliefs.jpg');
  background-attachment: fixed;
  background-position: center;
}

.principles-section {
  padding: 30px;
  background-color: #f0f4f8; /* Soft light background to separate the section */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mission-statement {
  font-size: 1.25rem; /* Slightly larger text for emphasis */
  font-weight: 300; /* Light weight for elegance */
  color: #555; /* Neutral dark color */
  line-height: 1.6; /* Increased line height for readability */
  margin-bottom: 0;
}

.join-us-section {
  background-color: #f3e5f5; /* Light lavender background */
  padding: 60px 0; /* Top and bottom padding for breathing room */
}

.join-us-section h2 {
  font-size: 2.5rem; /* Larger heading for emphasis */
  color: #6a1b9a; /* Soft maroon color for the heading */
  margin-bottom: 20px; /* Space below the heading */
}

.join-us-section p {
  font-size: 1.1rem; /* Slightly larger paragraph text */
  color: #555;
  margin-bottom: 15px;
}

/* Contact Us */

h1,
p {
  margin: 0;
  text-align: center;
}

.container.contact {
  background-color: #f8f9fa; /* Light background for the form */
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

form {
  padding: 30px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px; /* Slightly rounded corners */
  transition: border-color 0.3s; /* Smooth transition */
}

.form-control:focus {
  border-color: #0288d1; /* Focus border color */
  box-shadow: 0 0 5px rgba(2, 136, 209, 0.5); /* Shadow on focus */
}

textarea.form-control {
  resize: vertical;
}

.btn-primary {
  background-color: #0288d1; /* Button color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding for button */
  transition: background-color 0.3s; /* Smooth transition */
}

.btn-primary:hover {
  background-color: #0277bd; /* Darker blue on hover */
}

label {
  font-weight: bold; /* Bold labels for clarity */
  color: #333;
}

.container.contact h2 {
  color: #000232;
  font-size: 2.5rem;
}

.container.contact p {
  color: #555;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .container.contact {
    padding: 20px;
  }

  form {
    padding: 20px;
  }
}

/* Privacy Policy */

.privacy-policy section {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.privacy-policy h3 {
  color: #6a1b9a;
  font-weight: 400;
}

.privacy-policy h5 {
  font-weight: 400;
  color: #3f21eb;
  margin-top: 15px;
  margin-bottom: 10px;
}

.privacy-policy p {
  line-height: 1.7; /* Increase line height for readability */
  color: #333;
}

.privacy-policy ul {
  margin-left: 20px;
}

.privacy-policy ul li {
  margin-bottom: 5px;
}

.text-muted {
  font-size: 1rem; /* Smaller font for effective date */
}

.contact-info p {
  margin-bottom: 5px;
}

/* Footer */

.footer {
  background-color: #4b0082;
  color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.footer .row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-logo {
  height: 100px;
  margin-right: 10px;
}

.footer-link {
  color: #f4fbf0;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.list-inline-item a {
  color: #f4fbf0;
  text-decoration: none;
}

.list-inline-item a:hover {
  text-decoration: underline;
}

.list-inline-item i {
  margin-right: 5px;
}
