<%- include('layout', { title: 'About Us', body: `

<section class="text-center py-5 beliefs-hero">
  <h1 class="display-4 text-primary">About Us</h1>
</section>

<div class="container py-5 belief-card-section">
  <div class="row mb-4">
    <div class="card col-md-6 mx-auto p-4 bg-light-pink shadow-lg">
      <h2 class="section-title">About The Spiritual Woman Fellowship</h2>
      <p>
        The vision for "The Spiritual Woman Fellowship" resonates with many
        women who love God and desire to live a FULL life. We yearn to
        fellowship with women who can truly make things happen through prayer.
      </p>
      <p>
        We are learning that there's a spiritual dimension we can tap into if we
        connect with our spirituality. We’ve come to understand that we are not
        just natural beings but supernatural, created in the likeness of God.
      </p>
      <blockquote class="blockquote">
        <p>Manifesting Spiritual Realities Through Prayer. Amen.</p>
      </blockquote>
    </div>
  </div>
</div>

` }) %>
