<footer class="footer py-4">
  <div class="row">
    <!-- Logo and mission -->
    <div class="col-md-7 d-flex">
      <div class="row">
        <img
          src="/images/woman.jpg"
          alt="The Spiritual Woman Fellowship"
          class="footer-logo"
        />
      </div>
      <div class="row">
        <span class="mb-5">
          &copy; <%= new Date().getFullYear() %> The Spiritual Woman. All rights
          reserved. Powered by
          <a href="https://ithriveonwisdom.com/">ThriveON</a>
        </span>
      </div>
    </div>

    <!-- Footer Links -->
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li>
          <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
        </li>
        <li>
          <a href="/terms-of-use" class="footer-link">Terms of Use</a>
        </li>
        <li>
          <a href="/copyright" class="footer-link">Copyright</a>
        </li>
      </ul>
    </div>

    <!-- Social media links and Copyright -->
    <div class="col-md-3 text-md-end">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            href="https://www.facebook.com/share/mgGBd68AvLNM9cM9/?mibextid=LQQJ4d"
            target="_blank"
          >
            <i class="bi bi-facebook"></i> Facebook
          </a>
        </li>
        <li class="list-inline-item">
          <a
            href="https://www.instagram.com/the_spiritualwoman?igsh=NXY0b2luNTZtbXZ1&utm_source=qr"
            target="_blank"
          >
            <i class="bi bi-instagram"></i> Instagram
          </a>
        </li>
      </ul>
      <p class="mt-3 text-md-end">
        Become a Spiritual Woman of Grace! Join us at The SW Fellowship and
        experience His grace as we fellowship together! Your life will never be
        the same when you step into fellowship with The Father.
      </p>
    </div>
  </div>
</footer>
